@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    background-color:black;
}


ul > li > p {
    font-size: 0.75em;
}

ul > li {
    font-size: 0.75em;
}

* {
    color:rgb(240, 200, 255);
    font-size: 1.35em;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}
